@import "../variables";
@import "../mixins";

.excel__formula {
    display: flex;
    align-items: center;
    position: absolute;
    top: $header-height + $toolbar-height;
    left: 0;
    right: 0;
    height: $formula-height;
    border-bottom: 1px solid $border-color;

    .info {
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
        text-align: center;
        border-right: 1px solid $border-color;
        min-width: $info-cell-width;
    }

    .input {
        width: 100%;
        height: 100%;
        font-size: 13px;
        color: #000;
        padding: 4px 6px;
        outline: none;
    }
}