@import "../variables";
@import "../mixins";

.excel__header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    padding: 8px 10px 0 5px;

    .input {
        font-size: 18px;
        line-height: 22px;
        height: 20px;
        color: #000;
        padding: 2px 7px;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 2px;
        outline: none;

        &:hover {
            border: 1px solid $border-color;
        }

        &:focus {
            border: 2px solid #1a73e8;
        }
    }

    .button {
        @include button(red);
        margin: 0 0 0 5px;
        transform: translateY(-2px);
    }
}