@import "../variables";
@import "../mixins";

.excel__toolbar {
    display: flex;
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    height: $toolbar-height;
    padding: 4px 10px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;    

    .button {
        @include button();
        margin: 0 10px 0 0;
    }
}