@mixin button($color: #399E5A) {
    position: relative;
    display: inline-block;
    height: 24px;
    min-width: 24px;
    text-align: center;
    padding: 3px;
    color: rgba(#000, 0.7);

    i {
        font-size: 18px;
    }

    &:active,
    &.active {
        color: $color;
        background: lighten($color, 50%);
    }

    &:hover {
        background: #eee;
        cursor: pointer;
    }
}

@mixin clear-list() {
    list-style: none;
    padding: 0;
    margin: 0;
}