$db-header-height: 64px;

$header-height: 34px;
$toolbar-height: 34px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 26px;

$border-color: #c0c0c0;
$primary-color: #3c74ff;