@import "variables";
@import "mixins";

.db {
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: $db-header-height;
        background: #fff;
        box-shadow: 0 2px 5px 2px rgba(60, 64, 67, .15);
        z-index: 100;
    }

    &__new {
        margin-top: $db-header-height;
        padding: 1.5rem;
        background: #dadce0;
    }

    &__view {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__create {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        text-align: center;
        text-decoration: none;
        color: #000;
        width: 160px;
        height: 160px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #dadce0;

        &:hover {
            color: green;
            border-color: green;
        }
    }

    &__table {
        padding: 2rem 1rem 1rem;
    }

    &__list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #202124;
        padding: 0 12px;
        margin: 0 0 20px 0;
    }

    &__list {
        @include clear-list();
    }

    &__record {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        margin: 0 0 10px 0;
        border-radius: 4px;

        &:hover {
            background: #e6f4ea;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: #202124;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}