@import "~normalize.css";

@import "./dashboard.scss";

@import "./components/header.scss";
@import "./components/toolbar.scss";
@import "./components/formula.scss";
@import "./components/table.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    height: 100%;
    max-width: 100%;
    font-size: .8rem;
    color: #888;
}